.navbar>span {
    color: #2f4f4f;    
    font-size: 35px;
    font-weight: bold;
    text-align: center
}

#station{
    text-align: center;
    color: #2f4f4f;
}
.card {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
    color: white;
    border-radius: 25px 25px 5px 5px;
}
.card-deck {
    margin-bottom: 15px;
}
.card-block {
    padding: 15px;
}

#send {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
    color: white;
}
